@charset "utf-8";
/* CSS Document */

body{
	margin-top:40px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	background-color: #236B8E;
}

h1, h2, h3{
  font-family: 'Oswald','Tangerine', serif;
  padding-bottom:1px;
  color:#162252;
  padding-left:10%;
  
}

p {
  font-family: 'Tangerine', serif;
  font-size:16px;
  color:#162252;
  width:350px;
  padding-left:5%;
}

label, input, option, select, form{
    font-family: 'Tangerine', serif;
    color:#162252;
}


#submit {
  border: 1px solid blue;
  background-color:#bae4fe;
  font-size:14px;
}

/*form elements source:
 * http://stackoverflow.com/questions/13204002/align-form-elements-in-css
 * */

form {
    width: 100%;
    margin: 0 0;
    float:right;
    
}

label, input {
    display: inline-block;
}

label {
    width: 12%;
    text-align: left;
}

label + input {
    width: 20%;
    margin: 0 0% 1% 4%;
}

input + input {
    float: left;
}

.slideshow, img{
  background-color:#162252;
  max-width: 500px;
  max-height:400px;
}
.invalidInput{
  color: red;
 
}
#menuContainer{
	float:right;
	width:auto;
	text-align:right;
	margin-top:-27px;
	margin-bottom: 0px;
	padding-right:15%;
}

#logo{
	margin-top: -150px; 
	float: left;
	padding-left:15%;
	clear:both;
	position:relative;
}

#embed{
  float: right;
  margin-right:2%;
  padding-left:2%;
}

#lembed{
  float: left;
  margin-right:2%;
  padding-right:2%;
  
}

#clear{
 clear:both;
}



#title{
	font-family: 'Tangerine', serif;
	font-size: 50px;
	text-shadow: 4px 4px 4px #aaa;
	padding-left: 29%;
	margin-top: -135px;
	float: left;
	color:#F0FFFF;
}

#pagetitle{
  font-family: 'Tangerine', serif;
  font-size:20px;
}

#subtitle{
  font-family:'Oswald', 'Tangerine', serif;
	font-size: 20px;
	text-shadow: 2px 2px 2px #aaa;
	padding-top: 20px;
	padding-left: 38%;
	margin-top: -105px;
	float: left;
	color:#162252;
}

#menuContainer a{
  font-family:'Oswald', 'Tangerine', serif;
	border:#666 1 px solid;
	border-bottom:none;
	padding-top:2px;
	padding-bottom:1px;
	padding-left:15px;
	padding-right:15px;
	text-decoration:none;
	font-size:18px;
}

#menuContainer a:hover{
	background-color:#bae4fe;
	color:#03F;
}

.myButtons{
  border:#f0ffff 2px solid;
	background-color:#036;
	color:#fff;
	
}

.myActiveButton{
	background-color:#bae4fe
}

#bodyContainer{
	min-height:780px; 
	max-height:auto;
	position:center;
	border:#f0ffff 2px solid;
	background-color:#f1f1f1;
	margin-top:150px;
	margin-left: 15%;
	margin-right: 15%;

}


#bodyContentContainer{
	padding-top:0px;
	padding-left:16px;

}

.change_link {
	display: block;
	width: 20px;
	height: 20px;
	font-size: 12pt;
	background-color: #eee;
	float: left;
	margin-right: 5px;
	text-align: center;
	margin-top: 10px;
	border: 1px solid #bbb;
	text-decoration: none;
	
}

.footer{
  position:center;
  padding-left:20%;
  padding-right:20%;
  padding-top:10px;
  
  }
  
#footer{
  position:center;
  padding-left:2%;
  padding-right:2%;
  
  }
  
#error{
  color:red;  

}



