<!html>
<head>
    <link rel="shortcut icon" type="image/x-icon" href="img/msa_favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/style.css">
<hr WIDTH="100%">
<title> Muslim Student Association - Boise State University 
</title>
</head>
<body class="body">
    <div>
        <img class="logo" onclick="window.location='index.html'" src="img/msa_logo.jpg"><a class="main-title">Muslim 
            Student Association - Boise State University</a>
    </div>

    <!-- Site navigation menu -->
    <ul class="nav-bar">
        <li id="list"><a href="about.html">About</a> </li>
        <li id="list"><a href="events.html">Events</a></li>
        <li id="list"><a href="icofboise.html">IC of Boise</a></li>
        <li id="list"><a href="daily.html">Daily Quote</a></li>
        <br>
        <hr>
    </ul>

    <!-- Main content -->
    <h1>Events page</h1>
    <p>Welcome to MSA webpage. The MSA is a national student run organization 
        which seeks to serve Muslim students and represent Islam on North American 
        Campuses.</p>
     <div id="footer">
        The footer goes here
    </div>
</body>
